<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> This is Home </h1>

    <h3> Author: {{Author}} </h3>
    <h3> Age: {{Age}} </h3>

    {% comment %}
    
    {% for x in List %}
        <h3>{{x.Name}}</h3>
    {% endfor %}

    {% for x in List | dictsort: "Name" %}
    <h3> {{x}} </h3>
    {% endfor %} 
    
    {% endcomment %}

    <h3> {{ Arr | slice:"3"}} </h3>

</body>
</html>